.modal.js-modal.js-outsideclick#categories
    a.modal-close(href="javascript:;" data-modal-close): +svg('cross').icon.icon-modal-close

    .modal-body.js-modal-body.hidden#categoryList
        .modal-scroll.js-perfectScrollbar
            .modal-title
                span.modal-titleName Categories
            .categoriesList
                .categoriesList-row
                    .categoriesList-title Special
                    .categoriesList-body
                        .categoriesList-item
                            a.categoryCircle.orange(href="#categoryPeople" data-modal-switch)
                                .categoryCircle-icon
                                    +svg('cup-star').icon
                        .categoriesList-item
                            a.categoryCircle.red(href="#categoryPeople" data-modal-switch)
                                .categoryCircle-icon
                                    +svg('heart').icon
                        .categoriesList-item
                            a.categoryCircle.blue(href="#categoryPeople" data-modal-switch)
                                .categoryCircle-icon
                                    +svg('gift').icon
                // .categoriesList-row

                .categoriesList-row
                    .categoriesList-title Social badge
                    .categoriesList-body
                        .categoriesList-item
                            a.categoryCircle.blue(href="#categoryPeople" data-modal-switch)
                                .categoryCircle-icon
                                    +svg('users').icon
                        .categoriesList-item
                            a.categoryCircle.green(href="#categoryPeople" data-modal-switch)
                                .categoryCircle-icon
                                    +svg('hands').icon
                        .categoriesList-item
                            a.categoryCircle.orange-dark(href="#categoryPeople" data-modal-switch)
                                .categoryCircle-icon
                                    +svg('bubble').icon
                        .categoriesList-item
                            a.categoryCircle.black(href="#categoryPeople" data-modal-switch)
                                .categoryCircle-icon
                                    +svg('users').icon
                        .categoriesList-item
                            a.categoryCircle.purple-light(href="#categoryPeople" data-modal-switch)
                                .categoryCircle-icon
                                    +svg('hands').icon
                        .categoriesList-item
                            a.categoryCircle.green-dark(href="#categoryPeople" data-modal-switch)
                                .categoryCircle-icon
                                    +svg('bubble').icon
                        .categoriesList-item
                            a.categoryCircle.pink(href="#categoryPeople" data-modal-switch)
                                .categoryCircle-icon
                                    +svg('users').icon
                        .categoriesList-item
                            a.categoryCircle.blue-light(href="#categoryPeople" data-modal-switch)
                                .categoryCircle-icon
                                    +svg('hands').icon
                        .categoriesList-item
                            a.categoryCircle.blue-dark(href="#categoryPeople" data-modal-switch)
                                .categoryCircle-icon
                                    +svg('bubble').icon
                // .categoriesList-row

                .categoriesList-row
                    .categoriesList-title Other
                    .categoriesList-body
                        .categoriesList-item
                            a.categoryCircle.orange(href="#categoryPeople" data-modal-switch)
                                .categoryCircle-icon
                                    +svg('plant').icon
            // .categoriesList
    // .modal-body

    .modal-body.js-modal-body#categoryPeople

        .modal-scroll.js-perfectScrollbar
            .modal-title
                span.modal-titleName People
                a.modal-titleLink(href="#categoryList" data-modal-switch) Back to categories
            .categoryPeople
                .categoryCircle.orange
                    .categoryCircle-icon
                        +svg('cup-star').icon
                .categoryPeople-cnt
                    .categoryPeople-title Finished project
                    .categoryPeople-txt#categoryDesc
                        p According to the classification of M. Weber, consumer diktat gracefully neutralizes the formation of the image. It is obvious that the media channel is importantly concentrated by the sociometric media channel, B.Rassel points out. One of the recognized classics of marketing F. Kotler defines it this way: the pool of loyal publications is still resistant to changes in demand. The competitor simultaneously limits the subject of the political process. In the postmodern perspective, the majority electoral system embraces communism.
                    a.categoryPeople-morectrl(href="#categoryDesc" data-block-expander) More

                    .categoryPeople-note
                        p: strong Attention
                        p The badge can only be used once.

                .peopleSearch.js-category-people
                    .peopleSearch-control
                        input.js-people-search-input.js-outsideclick-search-users(type="text" name="name" placeholder="Enter user name")
                        .peopleSearch-select.js-people-search-list.js-outsideclick-search-users
                            .peopleSearchSelect
                                .peopleSearchSelect-item.js-people-search-list-item
                                    .peopleSearchSelectItem
                                        .peopleSearchSelectItem-img
                                            .userPic: img(src=path+'user1.jpg', alt="User 1")
                                        .peopleSearchSelectItem-name.js-value Patrik
                                .peopleSearchSelect-item.js-people-search-list-item
                                    .peopleSearchSelectItem
                                        .peopleSearchSelectItem-img
                                            .userPic: img(src=path+'user2.jpg', alt="User 1")
                                        .peopleSearchSelectItem-name.js-value Susana
                                .peopleSearchSelect-item.js-people-search-list-item
                                    .peopleSearchSelectItem
                                        .peopleSearchSelectItem-img
                                            .userPic: img(src=path+'user1.jpg', alt="User 1")
                                        .peopleSearchSelectItem-name.js-value Patrik1
                                .peopleSearchSelect-item.js-people-search-list-item
                                    .peopleSearchSelectItem
                                        .peopleSearchSelectItem-img
                                            .userPic: img(src=path+'user2.jpg', alt="User 1")
                                        .peopleSearchSelectItem-name.js-value Susana1
                                .peopleSearchSelect-item.js-people-search-list-item
                                    .peopleSearchSelectItem
                                        .peopleSearchSelectItem-img
                                            .userPic: img(src=path+'user1.jpg', alt="User 1")
                                        .peopleSearchSelectItem-name.js-value Patrik2
                                .peopleSearchSelect-item.js-people-search-list-item
                                    .peopleSearchSelectItem
                                        .peopleSearchSelectItem-img
                                            .userPic: img(src=path+'user2.jpg', alt="User 1")
                                        .peopleSearchSelectItem-name.js-value Susana2
                                .peopleSearchSelect-item.js-people-search-list-item
                                    .peopleSearchSelectItem
                                        .peopleSearchSelectItem-img
                                            .userPic: img(src=path+'user1.jpg', alt="User 1")
                                        .peopleSearchSelectItem-name.js-value Patrik3
                                .peopleSearchSelect-item.js-people-search-list-item
                                    .peopleSearchSelectItem
                                        .peopleSearchSelectItem-img
                                            .userPic: img(src=path+'user2.jpg', alt="User 1")
                                        .peopleSearchSelectItem-name.js-value Susana3
                    .peopleSearch-list
                        .categoryUserList.categoryUserList--margin.js-category-people-list
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user1.jpg', alt="User 1")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user2.jpg', alt="User 2")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user3.jpg', alt="User 3")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user4.jpg', alt="User 4")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user5.jpg', alt="User 5")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user6.jpg', alt="User 6")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user1.jpg', alt="User 1")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user2.jpg', alt="User 2")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user3.jpg', alt="User 3")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user4.jpg', alt="User 4")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user5.jpg', alt="User 5")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user6.jpg', alt="User 6")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user1.jpg', alt="User 1")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user2.jpg', alt="User 2")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user3.jpg', alt="User 3")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user4.jpg', alt="User 4")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user5.jpg', alt="User 5")
                                    +svg('cross').icon
                            .categoryUserList-item.js-category-people-item
                                .userPic.userPic--ctrl
                                    img(src=path+'user6.jpg', alt="User 6")
                                    +svg('cross').icon
                    form.peopleSearch-form.js-category-people-form(action="#")
                        .peopleSearch-msg
                            textarea(name="msg" placeholder="Enter comment here")
                        .peopleSearch-btn
                            button(type="submit") Submit
            // .categoryPeople
// .modal