.modal.modal--thin.js-modal.js-outsideclick#categoryPeopleList
    a.modal-close(href="javascript:;" data-modal-close): +svg('cross').icon.icon-modal-close

    .modal-body.modal-body--thin.js-modal-body
        .modal-scroll.modal-scroll--thin.js-perfectScrollbar
            .categoryCard
                .categoryCard-top
                    .categoryCard-list.js-categoryCard-list
                        .categoryCard-title
                            +svg('cup-star').icon
                            span.categoryCard-titleName Finished project
                        .categoryCard-users
                            .categoryUserList.categoryUserList--margin.categoryUserList--centered
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user1.jpg', alt="User 1")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user2.jpg', alt="User 2")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user3.jpg', alt="User 3")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user4.jpg', alt="User 4")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user5.jpg', alt="User 5")
                                .categoryUserList-item
                                    .userPic: img(src=path+'user6.jpg', alt="User 6")

                    a.categoryCardExpander(href="javascript:;" data-expand-userlist)
                        span.categoryCardExpander-closed View more 252 people
                        span.categoryCardExpander-opened Hide
                        +svg('chevron-up').icon.icon-chevron-vertical
                // .categoryCard-top

                .categoryCard-body
                    .categoryCard-cnt
                        p According to the classification of M. Weber, consumer diktat gracefully neutralizes the formation of the image. It is obvious that the media channel is importantly concentrated by the sociometric media channel, B.Rassel points out. One of the recognized classics of marketing F. Kotler defines it this way: the pool of loyal publications is still resistant to changes in demand. The competitor simultaneously limits the subject of the political process. In the postmodern perspective, the majority electoral system embraces communism.
                    .categoryCard-footer
                        .cardCategoryCreator.cardCategoryCreator--big
                            .cardCategoryCreator-image
                                img(src=path+'user6.jpg', alt="Creator")
                            .cardCategoryCreator-data
                                .cardCategoryCreator-name Michael Browk
                                .cardCategoryCreator-date 02.07.2018
// .modal